@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;600&family=Arbutus+Slab&display=swap');

body {
    /* background-image: url("https://media.istockphoto.com/photos/white-recycle-paper-cardboard-surface-texture-background-picture-id1409373921?b=1&k=20&m=1409373921&s=170667a&w=0&h=8znvVU3KRuObB4jQ3E3qadB9Ccl_N6pm9FSbrSy-feo="); */
    background: linear-gradient(90deg, rgb(14, 18, 15), #254b4e) fixed;
    background-size: cover;
  
}


.logo-img {
    width: 10%;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(187, 231, 130, 0.1);
    padding: 15px;
    margin: -10px;
}
#header {
    text-align: center;
    font-family: 'Arbutus Slab', serif;
    color: rgb(207, 200, 192);
    margin-left: 2rem;
    font-size: 3rem;
}
h1 {
    text-align: center;
    font-family: 'Arbutus Slab', serif;
    color: rgb(204, 151, 91);
}
#park-attractions-header {
    font-size: 2.5rem;
}

h2 {
    font-family: 'Akshar', sans-serif;
    color: rgb(190, 183, 175);
    /* font-style: italic; */
}
.park-services {
    margin-top: 5%;
}
.card {
    box-shadow: 0 4px 8px 5px rgba(5, 18, 1, 0.2);
    transition: 0.3s;
    width: 30%;
    background-color: rgb(192, 187, 169);
    border-radius: 5%;
    margin-top: 5%;
  }

  .card-img {
    border-radius: 5%;
  }
 
  .card-text {
    padding: 2px 16px;
    font-family: 'Akshar', sans-serif;
  }
   
  .main-container {
    display: flex;
    margin-top: 5%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
  .card-left-container {
    width: 70%;
  }

  .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;   
  }

  .park-information {
   
  }

  .card-right-container {
   border: 2px solid white;
   padding: 0 40px;

  }
  .information-lists {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
